<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.digitalbsb.Diario-da-Cefaleia</string>
			</array>
		</dict>
	</array>
	<key>PUBLIC_REPORT_BASE_URL</key>
	<string>https://diario-da-cefaleia.vercel.app</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_sG_BUlErF9ZSBcsxSGJLgA_jP0SZBQt</string>
	<key>SUPABASE_URL</key>
	<string>https://vzhpsfbimluydiwmflyc.supabase.co</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>cefaleia-launch</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
